<div class="container" >



  <div class="row">
    <div class="col-sm-8 blog-main">

      <div class="blog-post" >
        <h2 class="blog-post-title">About</h2>
        this app was developed by Danil Nurgaliev as test work!
      </div>

    </div>
  </div>
</div>