<div class="container" >



  <div class="row">
    <div class="col-sm-8 blog-main">

      <div>Title: <textarea class="form-control" rows="2" ng-model="newPost.title" /></div>
      <br>
      <div>Text: <textarea class="form-control" rows="5" ng-model="newPost.textData" /></div>
      <br>

      <button ng-click="createPost()" class="btn btn-primary" >Create</button>
    </div>
  </div>

</div>
