<div class="container" >
  <div class="row well">
      <div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.created_at}} by <a href="#">{{post.user_name}}</a></p>
        {{post.text_data}}
      </div>
  </div>
  <div>
    <div class="blog-post well" ng-repeat="comment in post.comments">
      <div class="blog-post-meta">{{comment.created_at}} by <a href="#">{{comment.user_name}}</a></div>
      <p>{{comment.text_data}}</p>

      <div ng-show="{{comment.user_id === currentUser.id}}"><a href="" ng-click="deleteComment(comment.id,$index)">Delete</a></div>
      <div ng-show="{{comment.user_id === currentUser.id}}"><a href="" ng-click="editComment(comment.id)">Edit</a></div>
    </div>
  </div>
  <div class="row" ng-show="{{isAuth}}">
    <div class="col-sm-8 blog-main">
      <div><textarea class="form-control" rows="4" ng-model="newComment.textData" /></div>
      <button ng-click="createComment()" class="btn btn-primary" >Comment it!</button>
    </div>
  </div>
</div>
