<div class="container">
    <div>
        <h1>Register</h1>
    </div>



<div class="well">
    <div class="form-group">
        <label for="InputName">Name</label>
        <input type="text" class="form-control" id="InputName" placeholder="Name" ng-model="name"/>
    </div>

    <div class="form-group">
        <label for="InputSurname">Surname</label>
        <input type="text" class="form-control" id="InputSurname" placeholder="Surname" ng-model="surname"/>
    </div>

    <div class="form-group">
        <label for="InputBirthdate">Birthdate</label>
        <input type="xte" class="form-control" id="InputBirthdate" placeholder="YYYY-MM-DD" ng-model="birthdate"/>
    </div>

    <div class="form-group">
        <label for="InputSex">Sex</label>

      <div class="radio">
        <label>
          <input type="radio" ng-model='sex' name="InputSex" id="optionsRadios1" value="1" checked>
          Female
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model='sex' name="InputSex" id="optionsRadios2" value="0">
          Male
        </label>
      </div>
    </div>




    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="InputEmail" placeholder="Email" ng-model="email"/>
    </div>


      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="InputPassword" placeholder="Password" ng-model="password"/>
      </div>

      <div class="form-group">
        <label for="InputPassword2">Password Confirmation</label>
        <input type="password" class="form-control" id="InputPassword2" placeholder="Password Confirmation" ng-model="password_confirmation"/>
      </div>

    <button ng-click="register()" class="btn btn-primary" >Register</button>
</div>
</div>